<p>
    <a href="/products">Обратно к товарам</a>
</p>

<h1>Это страница одного продукта</h1>
<img class="product__image" src="{{product.image}}" alt="{{product.name}}" />
<h2 class="product__name">{{product.name}}</h2>
<p class="product__price">Цена: {{product.price}} кредитов</p>